[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
altair = "*"
streamlit-metrics = "*"
pandas = "*"
google-cloud-firestore = "*"

[dev-packages]
streamlit-analytics = {no_deps = true, editable = true, path = "."}
black = "*"

[requires]
python_version = "3.9"
